body{
    background-color: white;
    width: 100%;
    overflow-x: hidden;
}
#logo{
    width: 280px;
}
header{
    color: rgb(224, 132, 10);
    height: 130px;
}
ul{
    margin-top: -13%;
    color: rgb(224, 132, 10);
}
li{
    font-weight: 100;
    display: inline;
    font-size: 20px;
    padding-right: 35px;
}
#fejlecbal{
    float: left;   
}
#fejlecjobb{
    float: right;
    margin-top: 2%;
    margin-right: 10%;
}
#fejleckep{
    background-image: url(img/header.jpg);
    height: 500px;
    background-size: cover;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}
p{
    margin: 0%;
}
#fejlectext{
    padding-top: 9%;
}
#fejlecintro{
    font-size: 20px;
    margin-top: 2%;
    border: solid 1px white;
    border-radius: 0.3rem;
    margin-left: 45%;
    width: 9%;
    padding: 6px;
}
#fejlecszoveg{
    margin-top: 2%;
    font-size: 15px;
}
#diebox{
    background-color: white;
    margin-top: 1%;
    height: 530px;
}
#videokep{
    display: inline;
    width: 55%;
}
#dietext{
    display: inline;
    float: right;
    width: 45%;
    margin-top: 4%;
    margin-right: 10%;
    line-height: 27px;
}
#videoid{
    width: 550px;
    margin-left: 3%;
    margin-top: 10%;
}
p{
    margin-bottom: 5px;
}
h1{
    font-size: 40px
}
#diemehr{
    border: solid, 2px, rgb(224, 132, 10);
    border-radius: 4px;
    color: rgb(224, 132, 10);
    padding: 1%;
    margin-left: 50%;
    margin-right: 33%;
}
.furdich{
    background-color: lightblue;
    padding: 1%;
    height: 500px;
}
#felso{
    text-align: center;
}
h3{
    color: rgb(240, 137, 3);
    font-size: 30px;
}
h2{
    font-size: 33px;
}
#wod{
    width: 33%;
    float: left;
    line-height: 25px;
}
#basics{
    width: 33%;
    float: inline-start;
    line-height: 25px;
}
#strength{
    width: 33%;
    float: right;
    line-height: 25px;
}
#furmehr{
    border: solid, 2px, rgb(224, 132, 10);
    border-radius: 4px;
    color: rgb(224, 132, 10);
    padding: 1%;
    margin-top: 22%;
    text-align: center;
    margin-left: 42%;
    margin-right: 47%;
}
.training{
    height: 700px;
}
#kez{
    display: inline;
    width: 55%;
    float: left;
    image-rendering: auto;
    
}
#kezszoveg{
    width: 45%;
    display: inline;
    float: right;
}