body{
    background-color: white;
    width: 100%;
    overflow-x: hidden;
}
#logo{
    width: 280px;
}
header{
    color: rgb(224, 132, 10);
    height: 130px;
}
ul{
    margin-top: -13%;
    color: rgb(224, 132, 10);
}
li{
    font-weight: 100;
    display: inline;
    font-size: 20px;
    padding-right: 35px;
}
#fejlecbal{
    float: left;   
}
#fejlecjobb{
    float: right;
    margin-top: 2%;
    margin-right: 10%;
}
#fejleckep{
    background-image: url(img/header.jpg);
    height: 500px;
    background-size: cover;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}
p{
    margin: 0%;
}
#fejlectext{
    padding-top: 9%;
}
#fejlecintro{
    font-size: 20px;
    margin-top: 2%;
    border: solid 1px white;
    border-radius: 0.3rem;
    margin-left: 45%;
    width: 9%;
    padding: 6px;
}
#fejlecszoveg{
    margin-top: 2%;
    font-size: 15px;
}
#diebox{
    background-color: white;
    margin-top: 1%;
    height: 100%;
    display: flex;
}
#videokep{
    flex-grow: 1;
}
#dietext{
    
    line-height: 35px;
    margin-left: 25px;
    margin-right: 70px;
}
#videoid{
    width: 650px;
    margin-left: 30px;
    margin-top: 90px;
}
p{
    margin-bottom: 5px;
}
h1{
    font-size: 40px;
}
#diemehr{
    border: solid, 2px, rgb(224, 132, 10);
    border-radius: 4px;
    color: rgb(224, 132, 10);
    padding: 10px;
    margin-top: 2%;
    margin-left: 27%;
    margin-right: 55%;
}
.furdich{
    background-color: lightblue;
    height: 100%;
    padding: 30px;
}
.elsoharom{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
#felso{
    text-align: center;
}
h3{
    color: rgb(240, 137, 3);
    font-size: 30px;
}
h2{
    font-size: 33px;
}
#wod{
    line-height: 25px;
    flex-grow: 1;
    width: 33%;
}
#basics{
    line-height: 25px;
    flex-grow: 1;
    width: 33%;
}
#strength{
    line-height: 25px;
    flex-grow: 1;
    width: 33%;
}
#furmehr{
    display: block;
    border: solid, 2px, rgb(224, 132, 10);
    border-radius: 4px;
    color: rgb(224, 132, 10);
    padding: 1%;
    text-align: center;
    margin-top: 5%;
    margin-left: 42%;
    margin-right: 47%;
}
.training{
    height: 100%;
    display: flex;
}
#kezkep{
    margin-left: 120px;
    margin-top: 50px;
}
#kezszoveg{
    font-size: 19px;
    line-height: 35px;
    margin-left: 120px;
    margin-right: 30px;
}
#trainmehr{
    border: solid, 2px, rgb(224, 132, 10);
    border-radius: 4px;
    color: rgb(224, 132, 10);
    padding: 1%;
    text-align: center;
    margin-top: 25px;
    margin-right: 70%;
}
.preise{
    background-color: lightblue;
    padding: 2%;
    height: 100%;
    margin-top: 70px;
    font-size: 15px;
}
.masodikharom{
    display: flex;
}
#newsletter{
    line-height: 25px;
    height: 250px;
    padding: 1%;
}
#boxok{
    border: solid, 2px, rgb(224, 132, 10);
    border-radius: 4px;
    color: rgb(224, 132, 10);
    padding: 2%;
    text-align: center;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
}
#gutschein{
    line-height: 25px;
    padding: 1%;
}
#drop-in{
    line-height: 25px;
    padding: 1%;
}
#felsoszoveg{
    text-align: center;
    margin-bottom: 100px;
}
#preisemehr{
    border: solid, 2px, rgb(224, 132, 10);
    border-radius: 4px;
    color: rgb(224, 132, 10);
    padding: 1%;
    text-align: center;
    margin-left: 41%;
    margin-right: 42%;
    margin-top: -70px;
}
.haromresz{
    color: white;
    height: 100%;
    font-size: 17px;
    line-height: 25px;
    display: flex;
}
#elso{
    width: 33%;
    height: 500px;
    flex-grow: 1;
    background-image: url(img/start.jpg);
    text-align: center;
}
#masodik{
    width: 33%;
    height: 500px;
    flex-grow: 1;
    background-image: url(img/szemelyi.jpg);
    text-align: center;
}
#harmadik{
    width: 33%;
    height: 500px;
    flex-grow: 1;
    background-image: url(img/tartos.jpg);
    background-repeat: no-repeat;
    text-align: center;
}
#elsomehr{
    border: solid, 2px, rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
    padding: 2%;
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 45px;
}
#intro1{
    border: solid, 2px, rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
    padding: 2%;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 45px;
}
#intro2{
    border: solid, 2px, rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 2%;
    text-align: center;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 45px;
}
.mission{
    display: flex;
    height: 100%;
    padding: 1%;
}
#sulyzo{
    margin-top: 5%;
}
#sulyzokep{
    margin-left: 100px;
    margin-top: -20px;
}
#sulyzoszoveg{
    margin-left: 120px;
    margin-right: 1%;
    font-size: 19px;
    line-height: 35px;
}
#missionmehr{
    border: solid, 2px, rgb(224, 132, 10);
    border-radius: 4px;
    color: rgb(224, 132, 10);
    padding: 1%;
    text-align: center;
    padding: 1%;
    margin-top: 25px;
    margin-right: 35%;
    margin-left: 35%;
}
.pandemie{
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 30px;
    display: block;
    color: white;
    text-align: center;
    height: 180px;
    padding: 2%;
    margin-top: 3%;
}
span{
    color: rgb(0, 140, 255);
}
.utolsoharom{
    display: flex;
}
#uns1{
    width: 33%;
}
#uns2{
    width: 33%;
}
#uns3{
    width: 33%;
}
#facebook{
    height: 50px;
    padding-right: 70px;
}
#insta{
    height: 50px;
    padding-right: 70px;
}
#crossfit{
    height: 50px;
}
#alsocsik{
    background-color: rgb(58, 43, 34);
}